html,
body,
.main,
.tab {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 思源宋體;
}

img {
    margin: auto;
    max-width: 100%;
}

.main {
    background-color: #ffffff;
}

nav {
    border-radius: 30px 30px 0px 0px;
    background-color: #B8D8E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.tab {
    background-color: #B8D8E5;
}

.tablink {
    color: #5FA2BD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranklink {
    color: #5FA2BD;
}

.white {
    color: white;
}

.blue {
    color: lightblue;
}

#Home {
    background-color: #5FA2BD;
}

.com1 {
    display: flex;
    flex-wrap: wrap;
}

.bg,
.rank {
    color: #fff;
    background-color: #5FA2BD;
}

.member {
    flex-direction: column;
}

section>div {
    margin-top: 24px;
    background-color: #fff;
    margin: auto;
    border-radius: 30px;
}

.fu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    justify-content: space-evenly;
}

.fu1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.fu2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
}

.fu1,
.fu2,
.lo1,
.lo2 {
    border: solid 1px;
    border-radius: 30px;
    margin: auto;
    width: 100%;
}

.lo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.lo1 input {
    width: 70%;
}

.location {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
}

.loc {
    margin: 5px;
}

.lo2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-container {
    display: grid;
}


.ul {
    list-style: none;
}

.me {
    padding: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.name {
    font-weight: 900;
}

.me a {
    color: #5FA2BD;
    text-decoration: none;
}

.proflie {
    flex-direction: row;
}

.me1 {
    background-color: #fff;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.me1 i {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me1 {
    text-decoration: none;
    color: #000;
}

.cp {
    display: none;
}

@media only screen and (min-width: 321px) and (max-width: 720px) {
    h2 {
        padding: 5px;
        margin: auto;
        font-size: 6vw;
    }

    p {
        padding: 5px;
        font-size: 4vw;
        font-weight: bold;
    }

    i,
    ul {
        font-size: 4vh;
        padding: 15px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) {
    a {
        text-decoration: none;
    }

    .main {
        display: flex;
    }

    .tablink {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }

    .nav-container {
        width: 25%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        padding: 5px;
        margin: auto;
        font-size: 2.5vw;
    }

    p {
        padding: 5px;
        margin: auto;
        font-size: 2vw;
        font-weight: bold;
        white-space: nowrap;
    }

    i,
    ul {
        font-size: 3vh;
        padding: 10px;
    }

    .cp {
        display: block;
    }

    .tab {
        margin: auto;
        width: 50%;
    }

    .me1 {
        margin: auto;
        width: 75%;
    }
}

@media screen and (min-width:1024px) {
    a {
        text-decoration: none;
    }

    .main {
        display: flex;
    }

    .tablink {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }

    .nav-container {
        width: 10%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        padding: 5px;
        margin: auto;
        font-size: 2.5vw;
    }

    p {
        padding: 5px;
        margin: auto;
        font-size: 2vw;
        font-weight: bold;
        white-space: nowrap;
    }

    i,
    ul {
        height: 2vh;
        padding: 10px;
    }

    .cp {
        display: block;
    }

    .tab {
        margin: auto;
        width: 50%;
    }

    .me1 {
        margin: auto;
        width: 75%;
    }
}